.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 0%, .5);
  transition: all .5s;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
