.popup__container {
  box-sizing: border-box;
  position: relative;
  max-width: 430px;
  padding: 35px;
  background-color: #fff;
  opacity: 1;
  box-shadow: 0px 0px 25px hsla(0, 0%, 0%, 0.15);
  border-radius: 10px;
  animation: slide-in .5s forwards;
}

@media screen and (max-width: 620px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
    margin: 0 19px;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(15px);
  }

  to {
    transform: translateY(0);
  }
}
