.popup__button {
  width: 100%;
  margin-top: 16px;
  background-color: #000;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  padding: 16px;
  transition: opacity .5s, border .5s, background-color .5s, color .5s;
  border: 1px solid #000;
}

.popup__button:hover {
  opacity: .8;
  transition: opacity .5s;
}

@media screen and (max-width: 620px) {
  .popup__button {
    margin-top: 30px;
    padding: 14px;
    font-size: 14px;
    line-height: 1.21;
  }
}
