.popup__button {
  width: 100%;
  margin-top: 30px;
  background: #000;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  padding: 18px;
  transition: all .5s;
}

.popup__button:hover {
  opacity: .8;
  transition: all .5s;
}
