.profile__edit-btn {
  align-self: flex-start;
  background-image: url(../../../images/button-edit.svg);
  width: 24px;
  height: 24px;
  margin-inline-start: 18px;
  margin-block-start: 33px;
  transition: all .5s;
}

.profile__edit-btn:hover {
  opacity: .6;
  transition: all .5s;
}
