.gallery__card {
  flex: 0 1 282px;
}

@media screen and (max-width: 940px) {
  .gallery__card {
    flex: 1 1 282px;
    max-width: calc(50% - 8.5px);
  }
}

@media screen and (max-width: 640px) {
  .gallery__card {
    flex: 1 1 282px;
    max-width: 100%;
  }
}
